.opac-page {

  min-height: 100vh;

  padding: 50px 20px;

  background:
  linear-gradient(
    to bottom,
    #f8fafc,
    #eef2ff
  );
}

.page-header {

  text-align: center;

  margin-bottom: 50px;
}

.page-header h1 {

  color: #1e3a8a;

  font-size: 42px;

  font-weight: 700;
}

.page-header p {

  color: #64748b;

  font-size: 18px;
}

.opac-grid {

  max-width: 1000px;

  margin: auto;

  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(350px,1fr));

  gap: 30px;
}

.opac-card {

  background: white;

  border-radius: 20px;

  padding: 30px;

  text-align: center;

  box-shadow:
  0 10px 25px rgba(0,0,0,.08);

  transition: .3s;
}

.opac-card:hover {

  transform: translateY(-8px);
}

.icon-box {

  width: 90px;

  height: 90px;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  margin: 0 auto 20px;
}

.quick {

  background: #2563eb;
}

.advanced {

  background: #16a34a;
}

.icon-box i {

  color: white;

  font-size: 40px;
}

.opac-card h2 {

  margin-bottom: 15px;

  color: #1e293b;
}

.opac-card p {

  color: #64748b;

  line-height: 1.7;

  margin-bottom: 25px;
}

.quick-btn,
.advanced-btn {

  border: none;

  padding: 12px 25px;

  color: white;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;
}

.quick-btn {

  background: #2563eb;
}

.advanced-btn {

  background: #16a34a;
}