.custom-navbar {
  background: #0f172a;
  padding: 15px 0;
}

.navbar-brand {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.nav-link {
  color: white !important;
  margin-left: 10px;
}

.nav-link:hover {
  color: #f59e0b !important;
}