.resource-page {
  padding: 50px;
}

.page-header {
  text-align: center;
  margin-bottom: 50px;
}

.page-header h1 {
  color: #1e3a8a;
  font-size: 42px;
  font-weight: 700;
}

.page-header p {
  color: #64748b;
}

.resource-grid {

  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(300px,1fr));

  gap: 25px;
}

.resource-card {

  background: white;

  border-radius: 20px;

  padding: 30px;

  text-align: center;

  box-shadow:
  0 5px 15px rgba(0,0,0,.08);

  transition: .3s;
}

.resource-card:hover {

  transform:
  translateY(-8px);
}

.icon-box {

  width: 80px;

  height: 80px;

  border-radius: 50%;

  margin: auto;

  display: flex;

  align-items: center;

  justify-content: center;

  margin-bottom: 20px;
}

.icon-box i {
  color: white;
  font-size: 35px;
}

.resource-card h2 {

  font-size: 22px;

  margin-bottom: 15px;

  color: #0f172a;
}

.resource-card p {

  color: #64748b;

  min-height: 70px;
}

.resource-btn {

  display: inline-block;

  margin-top: 15px;

  background: #2563eb;

  color: white;

  text-decoration: none;

  padding: 12px 25px;

  border-radius: 10px;

  border: none;
}