.hero {

  min-height: 500px;

  height: 70vh;

  background-image: url('/assets/books/bgimage1.png');

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  position: relative;

  display: flex;

  align-items: center;

  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,.55);

  display: flex;
  align-items: center;
  justify-content: center;

}



.content h1 {
  font-size: 52px;
  font-weight: 700;
}

.content p {
  font-size: 20px;
  margin-top: 15px;
}

.search-box {
  margin-top: 25px;
}

.search-box input {

  width: 450px;
  max-width: 90%;

  padding: 12px;

  border: none;

}

.search-box button {

  padding: 12px 20px;

  border: none;

  background: #f59e0b;
}

/* Large Screens */
@media (min-width: 1200px) {

  .hero {
    height: 80vh;
  }

}

/* Tablets */
@media (max-width: 992px) {

  .hero {

    height: 60vh;

    min-height: 400px;
  }

}

/* Mobile */
@media (max-width: 768px) {

  .hero {

    height: 50vh;

    min-height: 300px;

    background-position: center center;
  }

}

/* Small Mobile */
@media (max-width: 480px) {

  .hero {

    height: 40vh;

    min-height: 250px;
  }

}