.hero {
  width: 100vw;
  height: 90vh;

  text-align: center;

  overflow: hidden;

  // line-height: normal;

  flex-grow: 1;

  background: url('../../../assets/books/Final6.png');
  background-size: 100% 100%;

  position: relative;
}

.hero-content {
  width: 100%;
  position: absolute;

  top: 20%;

  left: 50%;

  transform: translate(-50%, -50%);

  color: rgb(7, 5, 126);

    display: flex;
  justify-content: center;
}

.hero-content h1 {
  width: 50%;
  display: inline-flex;
  display: flex;
  justify-content: center;
  padding: 12px 30px;

  margin-bottom: 0;

  color: #ffffff;

  font-size: 49px;

  font-weight: 700;

  border-radius: 12px;

  background: rgba(172, 159, 159, 0.45);

  // backdrop-filter: blur(4px);

  // text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* Large Screens */
@media (min-width: 1200px) {
  .hero {
    max-height: 60vh;
  }
  .hero-content {
    max-height: 60vh;
  }
}

/* Tablets */
@media (max-width: 992px) {
  .hero {
    height: 60vh;

    min-height: 400px;
  }
  .hero-content {
    max-height: 60vh;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    height: 50vh;

    min-height: 300px;

    background-position: center center;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .hero {
    height: 40vh;

    min-height: 250px;
  }
}
