.about-library-page {

  min-height: 100vh;

  background: #f8fafc;
}

/* HERO SECTION */

.hero-section {

  position: relative;

  min-height: 750px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  background:
    // linear-gradient(
    //   rgba(189, 184, 184, 0.45),
    //   rgba(192, 186, 186, 0.45)
    // ),
    url('/assets/books/bgimage.png');

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  color: white;

  padding: 60px 20px;
}

.hero-section h1 {

  font-size: 60px;

  font-weight: 700;

  margin-bottom: 15px;

  text-shadow:
    0 3px 10px rgba(0,0,0,.4);
}

.hero-section p {

  font-size: 24px;

  font-weight: 500;
}

/* CONTENT SECTION */

.about-container {

  max-width: 1400px;

  margin: -80px auto 50px;

  padding: 0 20px;

  position: relative;

  z-index: 10;

  margin-bottom: 70px;
}

.about-card {

  background: #ffffff;

  border-radius: 24px;
  

  padding: 50px;

  box-shadow:
    0 15px 40px rgba(0,0,0,.12);
    
}

.about-card h2 {

  color: #163b8c;

  font-size: 36px;

  

  font-weight: 700;

  margin-bottom: 30px;

  border-left: 8px solid #2563eb;

  padding-left: 20px;
}

.about-card p {

  font-size: 18px;

  line-height: 2;

  max-width: 1200px;

  color: #334155;

  text-align: justify;

  margin-bottom: 25px;
}

/* HOVER EFFECT */

.about-card:hover {

  box-shadow:
    0 20px 50px rgba(0,0,0,.15);

  transition: .3s ease;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .hero-section h1 {

    font-size: 42px;
  }

  .hero-section p {

    font-size: 20px;
  }

  .about-card {

    padding: 35px;
  }

}

@media (max-width: 768px) {

  .hero-section {

    min-height: 320px;
  }

  .hero-section h1 {

    font-size: 32px;
  }

  .hero-section p {

    font-size: 16px;
  }

  .about-container {

    margin-top: -40px;
  }

  .about-card {

    padding: 25px;
  }

  .about-card h2 {

    font-size: 26px;
  }

  .about-card p {

    font-size: 16px;

    line-height: 1.8;
  }

}